<div class="row top-row">
  <div class="span7 top-menu">
    <%= render :partial => "/elements/top_menu"%>
  </div>

  <div class="span3 user-auth">
    <% unless user_signed_in? %>
      <div class="m-btn-group enter-button">
        <button class="m-btn gray" href="#login-box" data-toggle="modal">
          Войти
        </button>
        
        <div class="modal hide" id="login-box" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <%= render :partial => "/modals/login" %>
        </div>
        
        <button class="m-btn gray dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="m-dropdown-menu">
          <li>
            <%= link_to image_tag("/assets/facebook.gif"),  user_omniauth_authorize_path(:facebook), :class => "fb-auth" %> 
          </li>
        </ul>
      </div>
      
    <% else %>
      <blockquote>
        <p>Hola, <%= current_user.username %> &nbsp; <%= link_to destroy_user_session_path, :method => :delete do %> 
          <button class="close">&times;</button>  
          <% end %> </p>
      </blockquote>

    <% end %>
  </div>
</div>
