<div class="row">
  <div class="span8">
    <span class="label label-warning">поcледние отчеты</span>
    <div class="other-trips">
      <ul class="thumbnails">
        <% Post.desc(:id).limit(2).each do |p| %>
        <li class="span4">
          <a href="<%= url_for(p) %>" class="thumbnail">
            <img src="<%=p.cover_item.asset.image.medium_view.url%>" alt="" class="other-trips-th">
          </a>
          <span class="ttl"><%= p.try(:user).try(:username) %> и <%=p.locations.map(&:name_ru).join(", ")%></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="mini-thumbs">
      <ul class="thumbnails">
        <% Post.desc(:id).limit(4).skip(2).each do |pp| %>
        <li class="span2">
          <a href="<%= url_for(pp) %>" class="thumbnail">
            <img src="<%=pp.cover_item.asset.image.md_thumb.url%>" alt="" class="other-trips-th">
          </a>
          <span class="ttl"><%=pp.locations.map(&:name_ru).join(", ")%></span>
        </li>
        <% end %>
      </ul>            
    </div>
  </div>
  
  <!-- <div class="span4 offset3">
    <span class="label label-warning">другие поездки</span>
    <div class="other-trips">
      <ul class="thumbnails">
        <% ttls = ["Берлин, Германия", "Лондон, Великобритания", "Афины, Греция", "Париж, Франция"]%>
        <% 4.times do |i| %>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="/assets/th-<%=i+1%>.jpg" alt="" class="other-trips-th">
          </a>
          <span class="ttl"><%= ttls.shift %></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div> -->
  
  
  <!-- Invivsibles -->
  <div class="text-of-the-day">
    <small>
    И вот как-то поехал я в Швейцарию. И ехал ехал ехал. И приехал. Приехал я значит в Швейцарию. И уехал. Ну красиво там. Горы понимаешь, и все такое. Но дома все-таки лучше. Швейария она такая, да, ну че там делать? Горы одни и коровы, скукота. И горы. Как в пещере блянах.
    </small>
  </div>
  <div class="text-of-the-day-title">
    <small>Моя поездка в Швейцарию</small>
  </div>
</div>
