<div class="row">
  <div class="span8">
    <span class="label label-warning">поcледние отчеты</span>
    <div class="other-trips">
      <ul class="thumbnails">
        <% Post.desc(:id).limit(2).each do |p| %>
        <li class="span4">
          <% if p.cover_item.present? %>
            <a href="<%= url_for(p) %>" class="thumbnail">
              <img src="<%=p.cover_item.asset.image.medium_view.url%>" alt="" class="other-trips-th">
            </a>
          <% end %>
          <span class="ttl"><%= p.try(:user).try(:username) %> и <%=p.locations.map(&:name_ru).join(", ")%></span>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="mini-thumbs">
      <ul class="thumbnails">
        <% Post.desc(:id).limit(4).skip(2).each do |pp| %>
        <li class="span2">
          <% if pp.cover_item.present? %>
            <a href="<%= url_for(pp) %>" class="thumbnail">
              <img src="<%=pp.cover_item.asset.image.md_thumb.url%>" alt="" class="other-trips-th">
            </a>
          <% end %>
          <span class="ttl"><%=pp.locations.map(&:name_ru).join(", ")%></span>
        </li>
        <% end %>
      </ul>            
    </div>
  </div>  
</div>
