<tr>
  <td>
    <% if post_item.cover_item.present? %>
      <%= link_to raw(image_tag post_item.cover_item.asset.image.md_thumb.url), post_path(post_item) %>
    <% end %>
  </td>
  <td>
    <div>
      <div class="post-title"><%= link_to post_item.title || "Без Названия", post_path(post_item)%></div>
    </div>
    <div>
      <span class="m-btn-group">
        <a class="m-btn mini black rnd dropdown-toggle" href="#" data-toggle="dropdown">&nbsp;действия</a>
        <ul class="m-dropdown-menu">
          <li><%= link_to raw('<i class="icon-edit"></i> редактировать'), edit_post_path(post_item) %></li>
          <li><%= link_to raw('<i class="icon-remove-circle"></i> удалить'), post_path(post_item), :method => :delete %></li>
        </ul>
        <% post_item.locations.each do |l| %>
          <% color = l.is_a?(Country) ? "green" : "blue" %>
          <span><a href="#" class="m-btn mini <%=color%>"><%=l.name_ru%></a></span>
        <% end %>
      </span>
    </div>
  </td>
</tr>
