<% content_for :header_content do %>
  <div class='span2'>
    <div id="uploader" data-spy="affix" data-offset-top="10">
      <div id="upload-area">
        <div class="pbox">
          <p>Перетащите <br /> фотографии <br />сюда</p>
        </div>
        <span class="m-btn blue fileinput-button">
          <input id="fileupload" type="file" name="files[]" post-id="<%=@post[:_id]%>" multiple />
          выбрать
          <i class="icon-plus icon-white"></i>
        </span>
      </div>    
    </div>
  </div>
  <div class="span10">
    <div class="row">
      <div class="span10 top_line">
        <%= render :partial => "top_line"%>
      </div>
    </div>
    <div class="row">
      <div class="span10 fix-header-height">
        <div class="row">
          <div class="span10">
            <%= render :partial => "/posts/post_data", :locals => {:post => @post} %>
          </div>
          <div class="row">
            <%= render :partial => "/posts/viewport" %>
          </div>
        </div>        
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="span12">
    <div class="row">
      <%= render :partial => "/elements/uploader", :locals => {:post => @post} %>
      <%= render :partial => "/elements/editor", :locals => {:post => @post}%>
    </div>
  </div>
</div>

<% content_for :templates_content do %>
  <%= render :partial => "/templates/editor_index" %>
<% end %>